:root {
	--face-highlight-lighter: rgb(122,46,46);
	--face-highlight-more-lighter: /*hsla(0,0%,100%,0.18)*/#400000;
	--face-highlight-more-more-lighter: rgba(124,71,71,0.5);
	--face-gradient-start-active: rgba(43,43,43,0.4);
	--face-gradient-start-inactive: rgba(44,44,44,0.2);
	--face-gradient-end: rgba(44,44,44,0);
}

tab-item {
	--tab-surface: hsla(0, 0%, 100%, .15);
    backdrop-filter: blur(999px);
}

tab-item > tab-item-substance {
	border: .5px solid hsla(0, 0%, 0%, 0.22);
	--tab-size: 37px !important;
	height: var(--tab-size);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 0px 0px 0px 8px !important;
	margin: 0;
}

tab-item .label-content {
  padding: 4px 0px 0px 0px;
}

tab-item.active .label-content {
  font-weight: bold;
  color: #FFFFFF;
  /*font-style: italic;*/
  /*font-family: fira code;*/
}

tab-item.unread {
	opacity: .5;
}

tab-item.unread .label-content {
  font-style: italic;
}

tab-item.pinned > tab-item-substance {
	padding: unset !important;
}

.tabs::after {
	content: '';
	position: fixed;
	inset: 0;
	display: block;
	z-index: 999999999999999999;
	pointer-events: none;

	box-shadow: 
		inset 0 24px 38px  3px rgba(0,0,0,0.14),
		inset 0  9px 46px  8px rgba(0,0,0,0.12),
		inset 0 11px 15px -7px rgba(0,0,0,0.20),
		inset 0  2px  2px  0   rgba(0,0,0,0.14),
		inset 0  3px  1px -2px rgba(0,0,0,0.12),
		inset 0  1px  5px  0   rgba(0,0,0,0.20) !important;
}

tab-item.active:not(.pinned) > tab-item-substance {
	padding-right: 0px !important;
	margin-right: 0px !important;
}
tab-item.active {
	z-index: 100;
	box-shadow: 
		0 24px 38px  3px rgba(0,0,0,0.14),
		0  9px 46px  8px rgba(0,0,0,0.12),
		0 11px 15px -7px rgba(0,0,0,0.20),
		0  2px  2px  0   rgba(0,0,0,0.14),
		0  3px  1px -2px rgba(0,0,0,0.12),
		0  1px  5px  0   rgba(0,0,0,0.20) !important;
}

tab-item.active.pinned > tab-item-substance::after {
	width: 50%;
}

tab-item.active > tab-item-substance > :nth-child(8),
tab-item > tab-item-substance > :nth-child(8)::before,
tab-item > tab-item-substance > :nth-child(8)::after {
	display: none !important;
}
tab-item > tab-item-substance > tab-favicon {
	order: 1;
}
tab-item > tab-item-substance > tab-label {
	order: 2;
}
tab-item > tab-item-substance > tab-sound-button {
	grid-area: sound;
	order: 3;
}
tab-item > tab-item-substance > tab-counter {
	order: 4;
}
tab-item > tab-item-substance > tab-twisty {
	order: 99 !important;
	position: unset;
	display: block;
}
tab-item:not([data-child-ids]) tab-twisty,
tab-item.pinned tab-twisty,
tab-item.collapsed tab-twisty {
	display: none !important;
}
tab-item > tab-item-substance > * {
	margin: 0 !important;
	padding-inline: 0 !important;
}

tab-item > tab-item-substance::before {
	content: var(--overlay-content);
	background: var(--overlay-color);
	position: absolute;
	inset: 0;
}


#tabbar {
  bottom: 0 !important; /* Eliminate dead space on bottom */
}

:root.sidebar #background {
  /*background: url("chrome://global/skin/media/imagedoc-lightnoise.png");*/
  background: #000;
}

.newtab-button {
  display: none;
}

/* twisty only show on hover */
#tabbar tab-item:not(:hover) tab-twisty {
  display: none;
}

/* add right margin to tab counter 6px*/
tab-counter:not(:hover)::after {
  margin-right: 5px;
}
tab-counter:hover::after {
  margin-right: -3px;
}

/* change tab counter color */
tab-counter {
  color: #888;
}

/* hide favicon when hover */
#tabbar tab-item:not(.pinned):hover tab-favicon {
  display: none;
}

:root.left tab-item tab-twisty {
  order: 10000;
}
:root.left tab-item tab-closebox {
  order: -1;
}

/* Only show tab close button on hover */
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

/*tab-item[data-current-uri^="https://github.com"],
tab-item[data-current-uri^="https://gist.github.com"],
tab-item[data-current-uri^="https://www.youtube.com"] {
	--overlay-content: '';
	--overlay-color: hsla(195,54%,50%,0.15);
}
tab-item[data-current-uri^="about:"] {
	--overlay-content: '';
	--overlay-color: hsla(0,0%,0%,0.52);
}
tab-item[data-current-uri^="https://zh.wikipedia.org"],
tab-item[data-current-uri^="https://logseq.com"],
tab-item[data-current-uri^="https://workflowy.com"] {
	--overlay-content: '';
	--overlay-color: hsla(225,61%,50%,0.15);
}*/
