/* 20220515 context menu */

menuseparator {
  border-top: 1px solid #2a2a2a !important;
}

menupopup {
  --panel-color: #d0d0d0 !important;
  --panel-border-color: #2a2a2a !important;
  --panel-background: #121212 !important;
  --panel-border-radius: 6px !important;
  --panel-padding: 0 !important;
}

menu[_moz-menuactive="true"]:not([disabled="true"]),
menuitem[_moz-menuactive="true"]:not([disabled="true"]) {
  background-color: #313131 !important;
  color: #f0f0f0 !important;
}

menupopup > menuitem,
menupopup > menu {
  padding-block: 0.3em !important;
}

#context-navigation:not([hidden]) {
  padding: 0 !important;
}

/* 20220515 title bar fix */

.titlebar-button {
  background-color: #222 !important;
  margin: 3px !important;
  padding: 8px !important;
  border-radius: 4px !important;
  stroke: #a9a9a9 !important;
}

.titlebar-button:hover {
  background-color: #363636 !important;
  stroke: #a9a9a9 !important;
}

.titlebar-buttonbox-container {
  margin-right: 5px !important;
}

.urlbarView-url {
  color: #d95252 !important;
}

/* personal preferences */

.browserContainer {
  background-color: #000000 !important;
}

#navigator-toolbox {
  border-bottom: 0.5px solid #121212 !important;
}

#nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child,
#nav-bar-customization-target
  > toolbarpaletteitem:first-child
  > :is(toolbarbutton, toolbaritem) {
  padding-inline-start: 0px !important;
}

#urlbar-input-container {
  border: 1px solid #202020 !important;
  padding: 1px 2px 1px 2px !important;
  background: #1a1a1a !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#urlbar-label-box {
  background-color: transparent !important;
}

:root[lwt-toolbar-field-focus-brighttext] {
  --lwt-popup-brighttext-url-color: #ec5555 !important;
}
:root:-moz-lwtheme-brighttext {
  --focus-outline-color: #ec5555 !important;
}

/* hide star btn & identity box */
#star-button-box {
  display: none;
}
#identity-box {
  display: none;
}
.urlbar-input-box {
  margin-left: 5px;
}

/* personal preferences end */

/*
      TREE STYLE TABS - START
*/

/* Reduce minimum width of the sidebar */
#sidebar-box {
  min-width: 88px !important;
}

/* Hide sidebar header when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header {
  visibility: collapse;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header{
  display: none;
}

/*
      TREE STYLE TABS - END
*/

/*
      REMOVE TAB BAR - START
*/

:root[sizemode="maximized"][tabsintitlebar="true"] #navigator-toolbox {
  /*margin-top: 7.5px;*/
  margin-top: 0 !important;
}

#toolbar-menubar,
#TabsToolbar
  > :not(.titlebar-buttonbox-container):not(.private-browsing-indicator) {
  visibility: collapse !important;
}

.private-browsing-indicator {
  background-size: 69%;
  margin-inline-end: 6px;
  opacity: 0.7;
}

/* Workaround v2 (Since #nav-bar is bad at laying out children (it doesnt respect ::after's width on small window widths), just make it get out of the way)*/
:root[tabsintitlebar="true"] #nav-bar {
  margin-right: max(150px, calc(100vw / 6.6)) !important;

  background: #222 /*none*/ !important;
}
/* Then move the background to the parent to preserve proper look */
:root[tabsintitlebar="true"] #navigator-toolbox {
  background: #222 /*var(--toolbar-bgcolor)*/;
  background-clip: padding-box;
}

#titlebar {
  padding: 0 !important;
  -moz-appearance: none !important;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  height: 38px !important;
  display: flex !important;
  align-items: center;
  justify-content: end;
  background: #222;
}

/*
      REMOVE TAB BAR - END
*/

/*############################################
##############################################
############################################*/

:root,
window,
page,
dialog,
wizard,
toolbar,
.cui-widget-panel,
#widget-overflow {
  font-family: "IBM Plex Sans", "微软雅黑", "Google Sans", "Open Sans",
    "Noto Sans", "Twemoji Mozilla", "Twitter Emoji Color", "Segoe UI Emoji" !important;
  letter-spacing: 0.01rem;
}

:root,
vbox,
scrollbox {
  scrollbar-color: hsla(0, 0%, 100%, 0.1) transparent !important;
  scrollbar-width: thin !important;
}

:root {
  --acrylic-backdrop-filter: blur(10px);
  --acrylic-background-blend-mode: exclusion;
  --acrylic-background-image: url("chrome://global/skin/media/imagedoc-lightnoise.png");
}

.panel-arrowbox[part="arrowbox"] {
  z-index: 999;
}

scrollbox {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.scrollbutton-up[orient="vertical"],
.scrollbutton-down[orient="vertical"] {
  visibility: collapse !important;
}

scrollbar {
  scrollbar-color: hsla(0, 0%, 33%, 0.5) hsla(0, 0%, 0%, 0) !important;
  scrollbar-width: thin !important;
  background-color: hsla(0, 0%, 0%, 0);
  /*background-image: var(--acrylic-background-image) repeat repeat !important;*/
  backdrop-filter: var(--acrylic-backdrop-filter) !important;
  background-blend-mode: var(--acrylic-background-blend-mode) !important;
}

#navigator-toolbox:-moz-lwtheme {
  --tabs-border-color: rgba(0, 0, 0, 0.1) !important;
}

#nav-bar {
  padding: 2px !important;
  font-size: 10px !important;
}
#nav-bar-customization-target {
  padding-left: 5px !important;
}

#back-button,
#forward-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 0 !important;
}
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  padding: 6px !important;
  border: none !important;
  box-shadow: none !important;
}
/*#back-button > .toolbarbutton-icon {
  list-style-image: url("img/back.svg") !important;
}*/
:root:not([uidensity="compact"]) #nav-bar #back-button > .toolbarbutton-icon {
  --backbutton-background: transparent;
  background-origin: unset !important;
  background-clip: unset !important;
  border: unset !important;
  transition: unset !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

#urlbar,
#searchbar {
  --urlbar-background: hsla(0, 0%, 0%, 0.025);
}
:root[lwthemetextcolor="bright"] #urlbar,
:root[lwthemetextcolor="bright"] #searchbar {
  --urlbar-background: hsla(0, 0%, 12%, 0.75);
}
#urlbar,
#searchbar {
  --urlbar-height: var(
    --urlbar-height,
    30px
  ); /* The browser should take care of this, but just incase, this is the default */
  --urlbar-toolbar-height: 36px !important;
}

#searchbar {
  background: none !important;
  border: none !important;
  position: relative;
  box-shadow: none !important;
}

#searchbar > * {
  position: relative !important;
}

#searchbar::before {
  content: "";
  position: absolute !important;
  display: block;
  inset: 0;
  border-radius: var(--toolbarbutton-border-radius);
}

#urlbar > #urlbar-background,
#searchbar::before {
  /*  background: var(--urlbar-background) !important;
  background-image: var(--acrylic-background-image) repeat repeat !important;
  backdrop-filter: var(--acrylic-backdrop-filter) !important;
  background-blend-mode: var(--acrylic-background-blend-mode) !important;*/
  background: #1a1a1a !important;
  border: none !important;
  box-shadow: none !important;
  --toolbarbutton-border-radius: calc(var(--urlbar-height, 30px) / 6); /*/2*/
  transition: border-color 0.15s ease;
  animation-duration: 150ms !important;
}

#urlbar:not([breakout-extend]) > #urlbar-background {
  border: transparent !important;
}

#urlbar-input-container,
#searchbar {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

#identity-box[pageproxystate="invalid"] > #identity-icon {
  box-sizing: border-box !important;
  padding: 2px !important;
}

.searchbar-search-icon {
  padding: 2px;
}

#connection-icon {
  padding: 2px !important;
}

#urlbar-go-button,
.search-go-button {
  padding: 7px !important;
}

#urlbar[pageproxystate="valid"]
  > #identity-box.verifiedDomain
  > #connection-icon,
#urlbar[pageproxystate="valid"]
  > #identity-box.verifiedIdentity
  > #connection-icon,
#urlbar[pageproxystate="valid"]
  > #identity-box.mixedActiveBlocked
  > #connection-icon {
  fill: hsl(155, 50%, 45%) !important;
}

#PopupSearchAutoComplete {
  margin-top: 6px !important;
  padding: 10px !important;
  box-shadow: inset 0 12px 11px -5px #00000030 !important;
}
.search-panel-current-engine {
  padding-bottom: 10px !important;
}
.search-panel-tree {
  display: grid !important;
  gap: 10px !important;
  padding: 10px 0 !important;
}
.search-one-offs {
  padding-top: 5px !important;
}
.search-panel-header {
  padding-bottom: 5px !important;
}
.search-panel-container {
  padding-bottom: 8px !important;
}

.bookmark-item > .menu-text,
.bookmark-item > .menu-iconic-text {
  margin-inline-start: 10px !important;
}
